#
# These directories must already exist.
#
BINDIR=/usr/local/bin
MANDIR=/usr/local/man
USRLIBDIR=/usr/local/lib
INCDIR=/usr/local/include
LODDIR=/usr/local/lib/AF/lodfiles
DOCDIR=/crl/audio/doc
SCRIPTDIR=/crl/audio/scripts

#
# Used throughout, customize to your local tastes.
#
INSTALL	= install
INSTALLALPHA	= installbsd
INSTMANFLAGS = -m 0444
INSTLIBFLAGS = -m 0664
INSTINCFLAGS = -m 0444
INSTBINFLAGS = -m 0755
INSTDOCFLAGS = -m 0444

#
# DSP Tools.  You need not worry about these unless
# you have the g56k compiler kit.
#
DSPTOOLROOT=/usr/local

G56K	= ${DSPTOOLROOT}/bin/g56k
ASM56K	= ${DSPTOOLROOT}/dsp/bin/asm56000
LINK56K	= ${DSPTOOLROOT}/dsp/bin/dsplnk
#CLDLOD	= ${DSPTOOLROOT}/bin/cldlod
CLDLOD	= cldlod
#DSPLIB	= ${DSPTOOLROOT}/bin/dsplib
DSPLIB	= dsplib

#
#
#
.SUFFIXES: .cld .cln .lod .c .asm

.cld.lod:
	${CLDLOD} $< > $@
.c.cln:
	${G56K} -g -O -c -o $@ $(G56KFLAGS) $<
.asm.cln:
	${G56K} -g -O -c -o $@ $(G56KFLAGS) $<

