 ***********************************************************************************
*************************************************************************************
****                                                                             ****     
**** This is the configuration file for the "Schlampisoft X-windows workbencH".  **** 
****   =======================================================================   ****
****                                                                             ****                                                                      ****     Configuration style: the first part that is bordered by the adress      ****
****     Symbol is the Compiler definition. The second part defines the text     ****
****     of the menu-help.                                                       ****
****     Below is a description of the configuration style. Up to 16 different   ****
****     configurations can be defined. Add your own, change one, but take       ****
****     care not to change the number of lines between the {...} brackets.      ****    
****     The number of {...} sections must be 16.                                ****
****     In the help part there's no problem in adding lines between {..}.       ****
****                                                                             ****
*************************************************************************************
 ***********************************************************************************

 

Textwindow buffer size: #300000 bytes

Configuration style:
{
Compiler description
Compiler call
linker call
attributes call
source file extension
target file extension
use target with
printer output to
formatted print call
formatted print odd
formatted print even
}

@ 
{
GNU Makefile
make *


.c


/dev/lp2



}

{
GNU C Compiler for Xapp's
gcc -O2 -m486 -ansi  -DNO_ASM  -I. -I/usr/openwin/include -I.  -I/usr/X11R6/include  -Dlinux -D__i386__ -D_POSIX_SOURCE -D_BSD_SOURCE -D_GNU_SOURCE  -DFUNCPROTO=15 -DNARROWPROTO  -DSTANDALONE -DSUNOS41   -c *.c -o *.o\nrm -f *\ngcc -o * -O2 -m486 -ansi  -DNO_ASM     -L/usr/X11R6/lib *.o -L/usr/openwin/lib -lxview -L/usr/openwin/lib -lolgx -lXExExt -lXext  -lX11
-lxview -lX11 -lolgx
-fwritable-strings
.c


/dev/lp2



}

{
GNU C++ Compiler
gcc *.cpp -o *


.cpp


/dev/lp2



}

{
TeX format
tex *.tex


.tex
.dvi
xdvi
/dev/lp2
dvips *.dvi -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
dvips *.dvi -A -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
dvips *.dvi -B -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
}

{
LaTeX format
latex *.tex


.tex
.dvi
xdvi
/dev/lp2
dvips *.dvi -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
dvips *.dvi -A -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
dvips *.dvi -B -o *.ps\ngs -dNOPAUSE -sDEVICE=escp2 -sOutputFile=/dev/lp2 *.ps\nquit\n
}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}

{
unused



..






}
@

Now the 'help file':
@
{
  XWindows-Workbench  Version 1.0
Copyright (C)1995 by Michael Sohmen
-----------------------------------
  mail to: uk6i@ibm3090.rz.uni-karlsruhe.de / uk6i@dkauni2.bitnet

This program is freeware, according to the GNU GENERAL PUBLIC LICENSE (for details see below).
This is the first version of this program, so please write if you detect errors, or if you have ideas or suggestions for improving this Software.
If you write some usable extensions, please send it to me and include a description.

> This program is free software; you can redistribute it and/or modify
> it under the terms of the GNU General Public License as published by
> the Free Software Foundation; either version 2 of the License, or
> (at your option) any later version.

> This program is distributed in the hope that it will be useful,
> but WITHOUT ANY WARRANTY; without even the implied warranty of
> MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
> GNU General Public License for more details.

> You should have received a copy of the GNU General Public License
> along with this program; if not, write to the Free Software
> Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.


All of this program is based on the Xlib and the Xview libraries. 
Bibliography: 
Xview Programming Manual by Dan Heller; O'Reilly & Associates
Xlib  Programming Manual by Adrian Nye; O'Reilly & Associates
}


{
Starting Xworkbench:
This program can be started like any other Xwindows application, using any parameters as i.e. defining fore/background color, size, position, letter types.
Make sure the configuration file can be found either in the same local or in a global directory.

The Menu:
I constructed the Menu after the standard model, where File is used for the data handling and printing, Tools for copy/insert/search functions; options for compiler configuration, Execute runs the compiler or starts the compiled program and Help for tutorials.

Textwindow:
This part is for editing text. Multiplying and copying text is is much easier with the selection service offered by the textwindow: select a part of the text with the mouse, click again, hold and move mouse to the target position; when releasing button the string will be inserted. This works as well with two different Workbenches. On the right side is a scrollbar which offers some additional functions on right-mouse-click

Subterminal:
If you select compile or run from execute menu, this terminal is used to call the programs and show their progress. It works like the usually XWindows terminals and offers additionally some functions on right-mouse-click.
}

{
Alphabetical Summary of the Workbench components
================================================
If words are written in CAPITALS, they can be found as key-word

-- ABOUT
Some official information about this program.

-- ANOTHER FRAME
Opens another workbench which is a child of the actual one.

-- ATTRIBUTES
Defines the attributes the compiler is called with in EXECUTE.

-- AUTHOR
Short copyright and version notice.

-- BREAK ECECUTION

-- CAPITALS
Read top.

-- CHOOSE CONFIGURATION
Allows to select an compiler configuration from menu - see SOURCE FILE FORMAT DETECTION.

-- CLEAR WINDOW
Deletes any text within the text subwindow.

-- COMPILE ACTUAL FILE
Calls file with actual compiler configuration.

-- COMPILER
Defines the compiler call used with the actually edited file in EXECUTE.


-- COMPILER DESCRIPTION
A description of the actually used compiler - only for comprehension and CHOOSE CONFIGURATION menu.

-- COPY STRING
Reads a text selection in a buffer. The text selection can as well be outside of the actual frame.

-- DRAG & DROP
A selected text can be dragged (click selection again, hold button and move mouse) and dropped at another text location/another textwindow (move mouse and release button). If moved to another frame, the selection will be removed in source window, except if <string> is pressed.

-- EXECUTE
Panel Item that contains the menu items COMPILE ACTUAL FILE, RUN XWIN APPLICATION, RUN IN TERM WINDOW and BREAK ECECUTION.
All of this menu functions will start an process in the TERMINAL WINDOW.
   
-- FILE
Panel Item that contains the menu items NEW, OPEN, SAVE, SAVE AS, PRINT, FORMATTED PRINT, AUTHOR and QUIT.
It contains the standard file operation functions.

-- FIND
If some text selection was made, this will be the search text. Otherwise a textpanel will be constructed to read in the string to search.

-- FIND NEXT
Takes the last search-string from memory.

-- FORMATTED PRINT
Format defined in OPTIONS, for printer output differing from the just-ASCII printing. Allows three different printing options for printing all sides in a row or for printing only the left/right sides of paper.

-- HELP
Panel Item that contains the menu items ABOUT, QUICK INTRODUCTION, SUMMARY and INTERNALS.

-- INSERT STRING
Inserts a string stored with COPY STRING at the current cursor position. 

-- INTERNALS
Should give some information about the source text. To be serious, it doesn't. But someday it will do.

-- LINE NUMBER
Pops up a text item to read in a line number. After this the line will be searched an being marked on success, otherwise nothing will happen.

-- LINKER OPTIONS
Defines the linker call used with the actually edited file in EXECUTE.

-- MOUSE CLICK
The menu items are usually selected by right-mouse-click. On left mouse click the next executable subitem will be selected

-- OPEN
Creates a panel containing all files and directories of the actual path ( '..' means upper directory) allowing to open to another directory and selecting a file to load into the text window.

-- OPTIONS
Panel Item that contains the menu items SHORTCUT WINDOW, CHOOSE CONFIGURATION, COMPILER DESCRIPTION, COMPILER, LINKER OPTIONS, ATTRIBUTES, SOURCE FILE FORMAT, TARGET FILE FORMAT, USE TARGET FILE WITH, TARGET ATTRIBUTES, PRINTER and FORMATTED PRINT.
If one of this menu items is selected, a panel-text item is constructed which allows to redefine a part of the configuration. 
The initial configurations are taken from the ...config file. The configurations in this file can be edited and changed.

-- NEW
Allows the functions ANOTHER FRAME and CLEAR WINDOW.

-- PRINT
Copy the edited file to printer in ASCII format.

-- PRINTER
Defines the name of printer output file.

-- SELECTION
A part of the text can be selected by the mouse and is being inverted by color.

-- QUICK INTRODUCTION
Short Overview of the main workbench parts.

-- QUIT
Quits Workbench after being verified and optionally pops up a -save file?- notice.

-- REPLACE
If some text selection was made, this will be the string to replace. Otherwise a text input menu is popped up to read this in. The second string that replaces the other string will be read in another text item.

-- RUN IN TERM WINDOW
Starts program execution process in foreground.

-- RUN XWIN APPLICATION
Starts program execution process in background.

-- SAVE
Save actual edited file - if a file name has been specified before.

-- SAVE AS
Creates a panel containing all files and directories of the actual path ( '..' means upper directory) allowing to open to another directory and selecting a directory to save program into. Thereafter a panel-text item allows to type the name of the file.

-- SHORTCUT WINDOW
Will create anonther frame containing buttons which provide the most often used functions from menu. It makes calling operations quicker. 

-- SOURCE FILE FORMAT
Defines the source file extension that is missing at the end of the target file.

-- SOURCE FILE FORMAT DETECTION
This program sets the first compiler configuration fitting to the name of the sourcefile. If you don't want the first that fits, use CHOOSE CONFIGURATION option.

-- SPECIALS !!
See DRAG & DROP, COPY STRING, OPTIONS, SOURCE FILE FORMAT DETECTION

-- SUMMARY
That's what you're looking at.

-- TARGET ATTRIBUTES
Defines the attributes the target program is called with in EXECUTE.

-- TARGET FILE FORMAT
Defines the target file extension that replaces the source file extension of the name of the file edited.

-- TERMINAL WINDOW
All processes called from menu are executed and their replies can be watched here. Works like a XWindows terminal.

-- TEXT WINDOW
Allows to manipulate text files of size defined in configuration file in bytes. If lines are longer than thw width of window, the last word that doesn't fit is moved to next line. The window offers the functions DRAG & DROP and SELECTION.

-- TEXTWINDOW BUFFER SIZE
Defines the maximum bytes storage of the TEXT WINDOW. Should be increased if needed. Don't use a huge storage without needing it; the memory will be allocated at the start of application.

-- TOOLS
Panel Item that contains the menu items LINE NUMBER, FIND, FIND NEXT, REPLACE, COPY STRING and INSERT STRING.

-- USE TARGET FILE WITH
Some target files are not executable by themself, they need a to be called by another program; i.e. a formatted text.
}
{
Will be completed someday.
}
@
