/*
 * InstallSpecialManPage - generate rules to install the indicated manual page,
 * in a location other than $MANDIR/foo.$MANSUFFIX
 */
#ifndef InstallSpecialManPage
#define InstallSpecialManPage(file,section)				@@\
install.man:: file.man							@@\
	MakeDir($(DESTDIR)$(MANSOURCEPATH)section)			@@\
	$(INSTALL) -c $(INSTMANFLAGS) file.man $(DESTDIR)$(MANSOURCEPATH)section/file.section
#endif /* InstallSpecialManPage */

