/* ********************************************************************** *\
 *         Copyright IBM Corporation 1988,1991 - All Rights Reserved      *
 *        For full copyright information see:'andrew/config/COPYRITE'     *
\* ********************************************************************** */
/* $Disclaimer: 
* Permission to use, copy, modify, and distribute this software and its 
* documentation for any purpose is hereby granted without fee, 
* provided that the above copyright notice appear in all copies and that 
* both that copyright notice, this permission notice, and the following 
* disclaimer appear in supporting documentation, and that the names of 
* IBM, Carnegie Mellon University, and other copyright holders, not be 
* used in advertising or publicity pertaining to distribution of the software 
* without specific, written prior permission.
* 
* IBM, CARNEGIE MELLON UNIVERSITY, AND THE OTHER COPYRIGHT HOLDERS 
* DISCLAIM ALL WARRANTIES WITH REGARD TO THIS SOFTWARE, INCLUDING 
* ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS.  IN NO EVENT 
* SHALL IBM, CARNEGIE MELLON UNIVERSITY, OR ANY OTHER COPYRIGHT HOLDER 
* BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY 
* DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, 
* WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
* ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE 
* OF THIS SOFTWARE.
*  $ */

XCOMM
XCOMM The following comes from the macro file
XCOMM

#if defined(sys_telmat)
#include <telmat_svr4/system.mcr>
#define MacroIncludeFile telmat_svr4/system.mcr
#endif /* sys_telmat */

#if defined(i386) && defined(linux)
#include <i386_Linux/system.mcr>
#define MacroIncludeFile i386_Linux/system.mcr
#endif /* Linux */

#if defined(i386) && !defined(bsdi) && (defined(__386BSD__) || defined(__NetBSD__) || defined(__FreeBSD__))
#include <i386_bsd/system.mcr>
#define MacroIncludeFile i386_bsd/system.mcr
#endif /* 386BSD, NetBSD, FreeBSD */

#if defined(bsdi)
#include <i386_bsdi/system.mcr>
#define MacroIncludeFile i386_bsdi/system.mcr
#endif

#if defined(_IBMR2) || defined(RiscAIX) || defined(rs6000)
/* #define _H_FLOAT
#include <sys/limits.h> */
#include <rs_aix3/system.mcr>
#define MacroIncludeFile rs_aix3/system.mcr
#endif /* RS6000 */

#if (defined(MACH) && defined(i386))
#include <i386_mach/system.mcr>
#define MacroIncludeFile i386_mach/system.mcr
#endif /* AIX */

#if defined(AIX) && (!defined(i386))
#include <rt_aix221/system.mcr>
#define MacroIncludeFile rt_aix221/system.mcr
#endif /* AIX */

#if (defined(AIX) || defined(aix)) && (defined(i386))
#include <ps_aix12/system.mcr>
#define MacroIncludeFile ps_aix12/system.mcr
#endif /* AIX */

#ifdef ibm032
#ifdef CMUCS
#include <rt_mach/system.mcr>
#define MacroIncludeFile rt_mach/system.mcr
#else
#include <rt_aos4/system.mcr>
#define MacroIncludeFile rt_aos4/system.mcr
#endif /* CMUCS */
#endif /* ibm032 */

#ifdef vax
#ifndef ultrix
#include <vax_43/system.mcr>
#define MacroIncludeFile vax_43/system.mcr
#else /* ultrix */
#if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5))
#include <vax_22/system.mcr>
#define MacroIncludeFile vax_22/system.mcr
#else /* #if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5)) */
#include <vax_3/system.mcr>
#define MacroIncludeFile vax_3/system.mcr
#endif /* #if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5)) */
#endif /* ultrix */
#endif /* vax */

#ifdef sun
#if defined(mc68010) || defined(sun2) /* sun2 */
#include <sun2_35/system.mcr>
#define MacroIncludeFile sun2_35/system.mcr
#endif /* mc68010 or sun2 /* sun2 */

#if defined(mc68020) || defined(sun3) /* sun3 */
#ifndef sunV3
#define sunV3 0
#endif /* sunV3 */
#if sunV3
#include <sun3_35/system.mcr>
#define MacroIncludeFile sun3_35/system.mcr
#else /* sunV3 */
/*
 * Sleazy hack to tell 4.0[.x] from 4.1[.x].
 * <alloca.h> should be safe to include, as it only defines "alloca()"
 * and, in 4.1[.x], "_alloca_h".  Neither of those should affect "imake".
 */
#include <alloca.h>
#ifdef _alloca_h
/*
 * 4.1[.x].
 */
#include <sun3_41/system.mcr>
#define MacroIncludeFile sun3_41/system.mcr
#else /* sunV4_1 */
/*
 * 4.0[.x].
 */
#include <sun3_4/system.mcr>
#define MacroIncludeFile sun3_4/system.mcr
#endif /* _alloca_h */
#endif /* sunV3 */
#endif /* sun3 */

#if defined(sparc) || defined(sun4) /* sun4 */
/*
 * Same sleazy hack as for Sun-3s.
 * DANGER! Do not include alloca.h under Solaris 2
 */
#if defined(SOLARIS)
#include <sun4_51/system.mcr>
#define MacroIncludeFile sun4_51/system.mcr
#else /* SOLARIS */
#include <alloca.h>
#ifdef _alloca_h
#include <sun4_41/system.mcr>
#define MacroIncludeFile sun4_41/system.mcr
#else /* sunV4_1 */
#if defined(MACH)
#include <sun4_mach/system.mcr>
#define MacroIncludeFile sun4_mach/system.mcr
#else /* MACH */
#include <sun4_40/system.mcr>
#define MacroIncludeFile sun4_40/system.mcr
#endif /* MACH */
#endif /* sunV4_1 */
#endif /* SOLARIS */
#endif /* sparc or sun4  */
#endif /* sun */

#ifdef hpux
#include "hpx.series"
#if defined(hp9000s700)
#include <hp700_80/system.mcr>
#define MacroIncludeFile hp700_80/system.mcr
#else
#if defined(hp9000s800)
#include <hp800_80/system.mcr>
#define MacroIncludeFile hp800_80/system.mcr
#else
#if defined(hp9000s300)
#include <hp300_80/system.mcr>
#define MacroIncludeFile hp300_80/system.mcr
#endif /* hp9000s300 */
#endif /* hp9000s800 */
#endif /* hp9000s700 */
#endif /* hpux */

#ifdef mac2
#include <mac2_51/system.mcr>
#define MacroIncludeFile mac2_51/system.mcr
#endif /* mac2 */

#if (defined(mips) && defined(ultrix))
#include <pmax_ul4/system.mcr>
#define MacroIncludeFile pmax_ul4/system.mcr
#endif /* mips && ultrix */


#if (defined(MACH) && defined(mips))
#include <pmax_mach/system.mcr>
#define MacroIncludeFile pmax_mach/system.mcr
#endif /* mach && ultrix */

#if defined(sgi)
#include <sgi_4d/system.mcr>
#define MacroIncludeFile sgi_4d/system.mcr
#endif /* sgi */

/* Perhaps this should be #if defined(apollo) && defined(mc68020) ? */
#ifdef apollo
#include <apollo68k/system.mcr>
#define MacroIncludeFile apollo68k/system.mcr
#endif

#if defined(SCO) || defined(sco) || defined(SCOunix)
#ifndef SCOunix
#define SCOunix 1
#endif /* SCOunix */
#include <sco_i386/system.mcr>
#define MacroIncludeFile sco_i386/system.mcr
#endif /* SCOunix */

#ifdef NeXT
#include <next_mach20/system.mcr>
#define MacroIncludeFile next_mach20/system.mcr
#endif /* next_mach20 */

XCOMM
XCOMM Back from the macro file
XCOMM
