#if defined(COMMENTS)
/* */# 
/* */#   XFTP can be build with Motif are the Athena wigets.
/* */#
/* */#   It also can use pty or pipes to talk to ftp.
/* */#   If it uses pipes then a special ftp program must be installed.
/* */#	
/* */#   You build an Open Look, Motif or Athena version of xftp by
/* */#   defining one of the following defines:
/* */#
/* */#   Define USE_OPENWINDOW to build the Open Look version of xftp (oftp).
/* */#   Define USE_MOTIF      to build the Motif version of xftp (mftp).
/* */#   Define USE_XAW        to build the Athena version of xftp (xftp).
/* */#   Define USE_XAW3D      to build the Athena threed version of xftp 
/* */#			       (xftp).
/* */#
/* */#   Define USE_PTY        to build a version of  xftp that uses pipes
/* */#    		       instead of ptys.  This does not work on all
/* */#			       system.
/* */#   Define HAS_EDITRES    to build a version of mftp that incorporates
/* */#    		       the X11R5 editres extension. Not all vendors
/* */#			       support editres with X11R5.
/* */#
/* */#   Suggest values for IMAKECPP shell variable:
/* */#  
/* */#	 UNICOS(Cray) - IMAKECPP=/lib/pcpp
/* */#   AIX(RS6000)  - IMAKECPP=/usr/lpp/X11/Xamples/util/cpp/cpp
/* */#
/* */#   If you are installing XFTP on a cray and you plan to use
/* */#   ptys you must install fixpty to.
/* */#
#endif

#if defined(COMMENTS)
/* */# 
/* */#   Chooe one of Motif (USE_MOTIF) or Athena (USE_XAW) 
/* */#   or Open Look (USE_OPENWINDOW)
/* */#
#endif

#define USE_OPENWINDOW
#define USE_MOTIF
#define USE_XAW3D
#undef  USE_XAW
#undef  USE_MOTIF
#undef  USE_OPENWINDOW
#undef  USE_XAW3D
#define USE_XAW

#if defined(COMMENTS)
/* */#  
/* */# Build mftp with X11R5 editres extension.
/* */#
#endif
/* */#HAS_EDITRES=  -DHAS_EDITRES

#if defined(COMMENTS)
/* */#    
/* */# Wcl version to use.
/* */#
#endif

#define WCL_LOCAL  Wcl-2.4

#if defined(COMMENTS)
/* */#    
/* */# Defined perl if you have it perl.
/* */# You don't really need perl.
/* */#
#endif

#define PERL
#undef PERL

#if defined(COMMENTS)
/* */#    
/* */# This is the we know better section.
/* */#
#endif

#if defined(DEC_STUFF)||defined(IBM_STUFF)||defined(HP_STUFF)
#undef  USE_XAW
#undef  USE_MOTIF
#define USE_MOTIF
#endif

#if defined(OPENWINDOW)&&!defined(USE_OPENWINDOW)
#undef  USE_XAW
#undef  USE_MOTIF
#define USE_XAW
#endif

#if defined(COMMENTS)
/* */#    
/* */#  If want to install xftp/mftp/oftp in some location other then
/* */#  the default localtion define MyBinDir to be the
/* */#  fully specified path name.
/* */#
#endif

#define MyBinDir 
#undef MyBinDir

#if defined(COMMENTS)
/* */#
/* */#  If you don`t have mktime or timegm then define the following
/* */#  #define USE_TIME_MAKER
/* */#
#endif

#define USE_TIME_MAKER
#undef USE_TIME_MAKER

#if defined(USE_XAW3D)
#define USE_XAW
#endif

