/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

/**/# $XConsortium: Server.tmpl,v 1.3 89/10/20 11:14:52 jim Exp $

#define PassCDebugFlags 'CDEBUGFLAGS=$(CDEBUGFLAGS)' 'CC=$(CC)' 'CCOPTIONS=$(CCOPTIONS)'

         CC = ServerCcCmd
  CCOPTIONS = ServerCCOptions
STD_DEFINES = ServerDefines
CDEBUGFLAGS = ServerCDebugFlags
EXT_DEFINES = ExtensionDefines

