/* ---------------------------------------------------------------------------- */
/* Configure.tmpl -
/*										*/
/* This is the main configuration file for FSPtool; once this file has been	*/
/* edited to reflect your setup and needs you should be able to build without	*/
/* difficulty. You may wish to peruse the config.h file to alter some of the	*/
/* filenames in there for default application options.				*/
/* ---------------------------------------------------------------------------- */
/* Define your *ANSI C* compiler here - only tested for gcc 2.5.0 -> 2.5.6,	*/
/* 2.4.5 and 2.3.3. Problems have sometimes been encountered with versions	*/
/* earlier than 2.3.3. If you have gcc then do 'gcc -v' to find out the version */
/* you're running.								*/

CC	= acc

/* ---------------------------------------------------------------------------- */
/* Location of FSPtool helpfile, change the path to the appropriate installed	*/
/* location. The FSPtool.info file should be accessible to the user at run time	*/

HELPFILEDIR = /usr/local/lib/X11/help

/* ---------------------------------------------------------------------------- */
/* Logging information. If you want logging enabled then define the name of the	*/
/* file to log to in LOGFILE and uncomment the DO_LOGGING variable.		*/
/* Leave them commented out and logging will not be enabled.			*/

/*
LOGFILE = /usr/logs/fsptool.log

DO_LOGGING = -D_FSP_LOGGING
*/

/* ---------------------------------------------------------------------------- */
/* Location in which you want the FSPtool binary installed.			*/

BINDIR	 = /usr/X11/bin

/* ---------------------------------------------------------------------------- */
/* Location in which you want the FSPtool man page installed.			*/

MANDIR	= /usr/X11/man/man1

/* ---------------------------------------------------------------------------- */
/* If you are using a System V Release 4 (SVR4) or System V Release [1,2,3]	*/
/* then one or other (possibly both) of the defines below should be set. If	*/
/* your X11 installation is correct then these flags will be set. However	*/
/* some X11 installations do not define these flags, if not then you will need	*/
/* do it manually. (Note the SVR4 flag is required for Solaris so if it isn't	*/
/* in the compiler options you need to remake the Makefiles and recompile.	*/

/* Ensure this is defined if you're using System V Release [1|2|3] */

#if SystemV
SYS_IS_SYSV  = -DSYSV
#endif

/* Ensure this is defined if you're using System V Release 4 */

#if SystemV4
SYS_IS_SVR4  = -DSVR4
#endif

/* ----------------------------------------------------------------------------	*/
/* You shouldn't need to change anything below this line. If however FSPtool	*/
/* dumps out on you - hopefully unlikely :-) . Then you may want to change	*/
/* this to "CDEFBUGFLAGS = -g" so that you can run it through a debugger and	*/
/* provide me with a few more clues for your bug report.			*/

CDEBUGFLAGS	= -O

FSPTOOL_DEFINES	= $(XVIEW) -DFSPTOOL_HELP=\"$(HELPFILEDIR)\"

