@begin(    header)
version:  0.7
authoring_date: 6/4/91
author:  Mark Ackerman
show_author: ShowNone
author_organization:  MIT Center for Coordination Science
expiration_date: 6/4/92
@end   (header          )
@b<The Answer Garden>

This version of the Answer Garden answers
questions about the X Window System.

Use of Answer Garden is voluntary. @i(Please note that
we are keeping usage data for research
purposes.)  

If you can't find your answer, you can ask your question of a human
expert or make a comment.  (Use the "I'm unhappy" button in later
panels to do this.)  This is how Answer Garden grows, so please feel
free to do so.

