# this is an example .fsphosts file, in the taxus format. If you
# don't already have an ~/.fsphosts file then simply move this to your
# home directory rename it to .fsphosts and build upon it.

# Host Address		Port	Alias	Dir	Information
src.doc.ic.ac.uk	21	UKUUG	/	UKUUG Archive Imperial College
fpspux.fapesp.br	21	FAPESP	/pub	Sao Paulo, Various reference files
wuarchive.wustl.edu	21	WUarc	/	Lots of stuff (wuarchive.wustl.edu)
fsp.luth.se		6969	Lulea	/	Uni.Lulea (Sweden) various Stuff
18.172.1.2		21	Linux	/	tsx-11.mit.edu (Linux site)
alpha.gnu.ai.mit.edu	21	GNU	/	GNU Alpha releases
taxus.uib.no		9000	taxus	/	fspadm, current home of FSPtool
mosaic.cs.caltech.edu	21	Caltech	/	mosaic.cs.caltech.edu (BSD386)
ftp.germany.eu.net	2001	EUnet	/	Large archive (Usenet stuff)
krokis.pt.hk-r.se	3333	Krokis	/	Soundblaster files and utils.

